body {background-color: #FFF8EA;}

img {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-color: grey;
    border-width: 6px;
    width: 8%;
}
h1 {
    color: #594545;
    font: Sans-serif;
}
h3 {
    color: #594545; 
}